body{
	font-family: Noticia Text;
	background-color: #e9ecef;

}

.navbar-brand {
	font-family: Playfair Display;
	font-size: 5vmin;
}

.carousel-indicators li{
	background-color: #9FCAE4;
}

.carousel-indicators .active{
	background-color: #478AB2;
}

.noticia{
	margin-top: 15px;
	padding-left: 10px;
	border-left: 3px solid #478AB2;
	margin-left: 8px;
}

.noticia-text{
	font-size: 3vmin;
	font-family: Noticia Text;
}


.cimage{
	width: 100%;	
}

.carousel-item .row{
	height: 60vmin;
}

.headline{
	width: 100%;
}

.overview-img{
	width: 100%;
}

.title-text{
	font-family: Playfair Display;
}

.content-text{
	font-family: Noticia Text;
}

