body{
	font-family: Noticia Text;
	background-color: #e9ecef;

}

.navbar-brand {
	font-family: Playfair Display;
	font-size: 5vmin;
}

.carousel-indicators li{
	background-color: #9FCAE4;
}

.carousel-indicators .active{
	background-color: #478AB2;
}

.carousel-text{
	display: inline-flex;
}

.cimage{
	width: 100%;	
}

.carousel-item .row{
	height: 60vmin;
}

.headline{
	width: 100%;
}

.overview-img{
	width: 100%;
}

.title-text{
	font-family: Playfair Display;
}

.content-text{
	font-family: Noticia Text;
}

